.GameWrapper {
    position: absolute;
    left:0px;
    right: 0px;
    top:0px;
    bottom: 0px;
    min-width: 320px;
    max-width: 800px;
    width: 50%;
    height: 50%;
    margin: auto auto;

    &__regPlayer {
        .RegPlayer {
            &__name {
                border: none;
                background: transparent;
                border-bottom: 2px solid $red;
                width: 200px;
                margin: 0 auto; 
                display: block;
                margin-bottom: 20px;
                color: $white;
                line-height: 40px;
                text-align: center;
            }

            &__btn {
                width: 200px;
                height: 40px;
                margin: 0 auto; 
            }
        }
    }

    &__gameBoard { 
        position: relative;
        width: 50%;
        float: left;

        //height: auto;

        &:after {
            content: '';
            display: block;
            padding-top: 100%; 
        }

        .GameBoard {
            position: absolute;
            top:0px;
            bottom: 0px;
            left:0px;
            right: 0px;
            margin-bottom: 20px;

            &__row {
                height: 33.3%;
                &:first-child {
                    .GameBoard__cell { 
                        border-top:none;
                    }
                }
                &:last-child {
                    .GameBoard__cell {
                        border-bottom:none;
                    }
                }
            }

            &__cell {
                width: 33%;
                height: 100%;
                float: left;
                border: 2px solid $white;
                box-sizing: border-box;
                position: relative;

                &._cross {
                    &:before {
                        content: "\ea0f";
                        font-size: 30px;
                        height: 30px;
                        width: 30px;
                        position: absolute;
                        top: 0px;
                        bottom: 0px;
                        right: 0px;
                        left: 0px;
                        margin: auto;
                        color: $red;
                    }
                }
                &._circle {
                    &:before {
                        content: "\ea56";
                        font-size: 30px;
                        height: 30px;
                        width: 30px;
                        position: absolute;
                        top: 0px;
                        bottom: 0px;
                        right: 0px;
                        left: 0px;
                        margin: auto;
                        color: $blue;
                    }
                }

                &:first-child {
                    border-left:none;
                }
                &:last-child {
                    border-right: none;
                }
            }
        }

    }


    &__gameResults {
        margin-bottom: 20px;
        width: 50%;
        float: left;
        padding-left: 20px;
        box-sizing: border-box;

        .GameResults {
            &__row {
                cursor: pointer;
            }

            &__cell {
                float: left;
                padding: 10px;
                width: 30%;
                box-sizing: border-box;
                height: 28px;
                color: $gray;

                &._computer {

                }

                ._winercomputer {
                    @extend .icon-sad;
                    color: $red;
                }

                ._winerhuman {
                    @extend .icon-smile;
                    color: $blue;
                }
            }


        }


    }

    &__newGame {
        width: 100%;
        height: 50px;
        margin-top: 20px;
    }


}